.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body { 
  font-family: Raleway;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #333
}

p {
  color: #111
}
