@font-face {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
}

body { 
  font-family: Raleway;
  background-color: #F3F8FD;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #020262;
  margin: auto;
}

p {
  color: #111
}
